.portrait-title h2 {
  font-size: 1.2rem;
}

.site-footer .powered-by:nth-child(2) {
  display: none;
}

.site-footer .powered-by{
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.docs-content{
  max-width: 760px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
}

.wg-about h1{
  font-size: 1.6rem;
  font-weight: bold;
}

.avatar{
  height: 120px;
  width: 120px; 
}

@media (max-width: 767.98px){
  .wg-about .avatar{
    width: 120px;
    height: 120px;
  }
}


#profile > div > h2 {
  font-weight: 500;
}

.workshop-notebook{
  // display none for mobile
  @media (max-width: 767.98px){
    display: none;
  }
}

// .article-style a{
//   color: #65a8ff !important;
//     &:hover {
//     color: #1565C0 !important;
//     transition: 100ms;
//   }
// }

// #profile div h3:nth-child(3) a {
//   color: rgb(22, 103, 209) !important;

//   &:hover {
//     color: #1565C0 !important;
//     // text-decoration: underline;
//     transition: 100ms;
//   }

// }

.title-text{
  &:hover {    
    cursor: default;
    .title-emoji {
    
      animation-name: wave-animation;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
      display: inline-block;
    
    }
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
